body {
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    max-width:70em;
    margin:auto;
    counter-reset: tagNum;
}
h2:before {
    content: "#" counter(tagNum) " ";
    counter-increment: tagNum;
}

h3:before {
    content: "#" counter(tagNum) " ";
    counter-increment: tagNum;
}

h1 {
    margin: 1.5em 0.5em 0.5em 0.5em;
    border-top:0.5em solid black;
}
h2 {
    margin-left:0em;
    margin-top:0.5em;
}
h3 {
    text-align:center;
    margin-bottom:0em;
    font-size:1.17em;
}
h4 {  
  text-align:left;
  margin-bottom:0em;
  font-size:1.17em;
  display:inline-block;
  font-weight:normal;
}
div {
    display:block;
    vertical-align: top;
    /*margin:14px; */
}

th {
    margin-left: auto;
    margin-right: auto;
}
td {
    margin-left: auto;
    margin-right: auto;
}
section div {
    display:inline-block;
    vertical-align: top;
    /*  margin-left:1.8em; */
}
section {
    border:2px solid #598CE9;
   margin:1em 1em 1em 0.5em;
   padding:0.5em;
 /*     padding:0.5em 1em 0.5em 1em; */
    border-radius:0.5em;
    width:67.7em;
}
span {
  padding:0px 5px 0px 5px;
}
table{
  margin-left: auto;
  margin-right: auto;
  margin-bottom:3em;
  width: 100%;
}


.none{
  list-style-type:none;
}


#left{
float:left;
width:49%;
overflow:hidden;
}
#right{
float:right;
width:49%;
overflow:hidden;
} 
#otsikko {
    font-size:5em;
    font-weight:bold;
    color:#598CE9;
}
#osio {
    font-size:3em;
    font-weight:bold;
    color:#598CE9;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{padding:5px
    10px;border-style:solid;border-width:0px;overflow:visible;word-break:normal;white-space:nowrap;vertical-align: center; /*vertical-align: top;*/}
.tg th{font-weight:bold;padding:5px 10px;border-bottom:2px solid black;overflow:hidden;word-break:normal;vertical-align: bottom;text-align:left;}
white-space: nowrap;
.tg .tg-a1rn{border-right:1px solid black;}
.tg .tg-5y5n{border-left:1px solid black;white-space:normal;}
.tg .tg-hv79{border-right:1px solid black;border-top:1px solid black;}
.tg .tg-walu{border-top:1px solid black;}
.tg .tg-19vt{border-right:1px solid black;border-top:1px solid black;}
.tg .tg-bdps{border-top:1px solid black;}
.tg .tg-34pk{border-right:1px solid black;border-top:1px solid black;}
.tg .tg-b13j{border-top:1px solid black;}
.tg .tg-mn6f{border-right:1px solid black;border-top:1px solid black;}
.tg .tg-38zm{border-top:1px solid black;}
.tg .tg-33yv{border-right:1px solid black;border-top:1px solid black;}
.tg .tg-t04w{border-top:1px solid black;}
.tg .tg-13j4{border-right:1px solid black;border-top:1px solid black;}
.tg .tg-osmx{border-top:1px solid black;}
.tg .tg-tk17{border-right:1px solid black;border-top:1px solid black;}
.tg .tg-wc4u{border-top:1px solid black;}

/*käytetty: kodonitaulukko*/

.taulukko3otsikkoa  {border-collapse:collapse;border-spacing:0;}
.taulukko3otsikkoa td{
  padding:5px 10px;border-style:solid;border-width:1px;border-color:#B5C6E3;
  overflow:visible; word-break:normal;white-space:nowrap;
  text-align:center; vertical-align:middle;
}
.taulukko3otsikkoa th{
  font-weight:bold;padding:5px 5px;border-bottom:0px solid black;
  overflow:hidden; word-break:normal;
  text-align:center; vertical-align:middle; white-space: nowrap;
}

.viiva {border-top:1px solid black;}
.tg tr:hover {background-color: rgba(89,140,233,0.1);}
.tg .tg-031e {height:58px;}
.kaksPalstaa {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  width:100%;

  -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
  -moz-column-gap: 0px; /* Firefox */
  column-gap: 0px;
}
.kolmePalstaa {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  width:100%;

  -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
  -moz-column-gap: 0px; /* Firefox */
  column-gap: 0px;
}
.neljaPalstaa {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
  width:100%;

  -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
  -moz-column-gap: 0px; /* Firefox */
  column-gap: 0px;
}
.viisPalstaa {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
  width:100%;

-webkit-column-gap: 0px; /* Chrome, Safari, Opera */
-moz-column-gap: 0px; /* Firefox */
column-gap: 0px;

}
.ref{
  margin-left: 10px;
  text-decoration:none;
}
